<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorAppNET5</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="new-control">
                <span class="oi oi-plus" aria-hidden="true"></span> Radio Button
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="css-isoration">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CSS Isoration
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="virtualization">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Virtualization
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="setfocus">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Set Focus
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jsmodule">
                <span class="oi oi-list-rich" aria-hidden="true"></span> JS Module
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="inputfile">
                <span class="oi oi-list-rich" aria-hidden="true"></span> InputFile
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="lazy">
                <span class="oi oi-plus" aria-hidden="true"></span> Lazy Load
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
